.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
docs/**
.gitignore
tsconfig.json
npm-debug.log
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
.eslintrc
**/*.map
**/*.ts
images/web-search-social-preview.png
images/web-search-submenu.png
images/web-search-engine-setting.png
images/web-search-context-menu.png