.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
docs/**
.gitignore
tsconfig.json
npm-debug.log
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
.eslintrc
**/*.map
**/*.ts
images/web-search-social-preview.webp
images/web-search-submenu.webp
images/web-search-engine-setting.webp
images/web-search-context-menu.webp
images/web-search-add-any-site.gif